@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center" style="height: 70vh;">

    <h1 class="display-4">Welcome to MyApp</h1>

    <p class="lead my-3">
        Aplikasi ini merupakan aplikasi untuk menginformasikan identitas pemilik akun.
    </p>

    @* <div>
        <a href="#" class="btn btn-primary btn-lg">Login</a>
    </div> *@

</div>